<h1>Todos os perfis</h1>
<% unless @polls.any? %>
  <p class="bg-info flash">Sem perfis.</p>
<% end %>
<ul class="clearfix polls">
  <% @polls.each do |poll| %>
    <li class="col-md-6 polls-poll">
      <div class="polls-poll-detail">
        <h2>
          <% if current_user %>
            <%= link_to poll.title, current_user.admin? ? edit_poll_path(poll) : new_poll_reply_path(poll) %>
            <%= link_to "Adicionar perguntas", new_poll_question_path(poll), class: "label label-default" if current_user.admin? %>
          <% end %>
        </h2>
      </div>
    </li>
  <% end %>
  <% if current_user && current_user.admin? %>
    <li class="col-md-6 polls-poll">
      <div class="polls-poll-detail">
        <h2>
          <%= link_to '+', new_poll_path %>
        </h2>
      </div>
    </li>
  <% end %>
</ul>
